<!-- html template -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <h1>Add Product</h1>
    <form action="/products" method="post">
      <label for="input_product_name">Product Name:</label>
      <input
        name="input_product_name"
        id="input_product_name"
        type="text"
        placeholder="product name"
      />

      <label for="input_product_quantity">Product Quantity:</label>
      <input
        type="number"
        name="input_product_quantity"
        id="input_product_quantity"
        value="0"
      />

      <label for="select_product_category">Select Category:</label>
      <select name="select_product_category" id="select_product_category">
        <option value="fruit">Fruit</option>
        <option value="vegetable">Vegetable</option>
        <option value="dairy">Dairy</option>
      </select>

      <button>Add Product</button>
    </form>
  </body>
</html>
